@{
    ViewBag.Title = "Xóa hãng giao hàng";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Shipper/Delete" method="post">

            <div class="form-group">
                <label>Tên hãng giao hàng</label>
                <p class="form-control-static">Giao hàng tiết kiệm</p>
            </div>

            <div class="form-group">
                <label>Số điện thoại</label>
                <p class="form-control-static">077921312490</p>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary btn-danger">
                    <i class="fa fa-floopy-o"></i>
                    Xóa dữ liệu
                </button>
                <a href="~/Shipper" class="btn btn-default">
                    Quay lại
                </a>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
