@{
    ViewBag.Title = "Xóa nhân viên";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Employee/Delete" method="post">

            <div class="form-group">
                <label>Ảnh nhân viên</label>
                <img class="profile-user-img img-responsive img-bordered" src="~/themes/dist/img/user4-128x128.jpg">
            </div>

            <div class="form-group">
                <label>Tên nhân viên</label>
                <p class="form-control-static">Nguyễn Thị Thanh Ngân</p>
            </div>

            <div class="form-group">
                <label>Ngày sinh</label>
                <p class="form-control-static">1980-10-09</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ</label>
                <p class="form-control-static">13/57 Trần Phú</p>
            </div>

            <div class="form-group">
                <label>Số điện thoại</label>
                <p class="form-control-static">05128097385</p>
            </div>

            <div class="form-group">
                <label>Email</label>
                <p class="form-control-static">nttngan@gmail.com</p>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary btn-danger">
                    <i class="fa fa-floopy-o"></i>
                    Xóa dữ liệu
                </button>
                <a href="~/Employee" class="btn btn-default">
                    Quay lại
                </a>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
