@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Tizun</h1>
    <img src="https://i.gifer.com/origin/04/0405c415905d770c67dce2909ab9bf5d.gif" class="user-image" alt="User Image" style="border-radius:50%; margin-top: 20px">

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
