@model ErrorViewModel

<div class="container text-center">
    <img src="~/assets/images/denidedIcon.png" />
    <h1 class="display-4" style="font-size: 5rem">Truy cập thất bại</h1>
    <p class="lead" style="font-size: 1.25rem">Bạn không có quyền truy cập vào trang này</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay lại trang chủ</a>
</div>